body{
background-color: black;
font-family: sans-serif;
margin-left: 5%;
margin-right: 5%;
color: white;
}
h1{
    text-align: center;
}

.dwPhoto{
    margin-right: auto;
    margin-left: auto;
    width:100%;
}
br{
    margin-top: 50px;
    margin-bottom: 5px;
    line-break: auto;
}