body{
    background-color:black;
    color: silver;
    margin-top: 5%;
    }

    /*Header- Logo and Navigation Bar*/
    img{
        
        padding-left: 2%;
        
        display: inline;

    }
    #homeLink{
        text-decoration: line-through;
        display: inline;
        }
        a{
            color: white;
            text-decoration: none;
            padding-right: 10px;
           
           
        }
        
        li{
            display: inline;
            margin-right: 5%;
           
           
          }
          ul{
              text-align:right;
              display: inline;
            }


/*Header- Logo and Navigation Bar*/


    h1{
        text-align: center;
        font-family: korolev-compressed,sans-serif;
        font-weight: 700;
        font-style: normal;
       font-size: 40px;
       margin-bottom: 5px;
       margin-left: 2%;
    margin-right: 5%;
    }
    h2{
        color: grey;
        font-size: xx-small;
        margin-left: 2%;
    margin-right: 5%;
    }




#topName{
    margin-top: 25%;
    text-align: center;
    letter-spacing: 10px;
    
}
#underName{
    text-align: center;
    font-size: small;
    margin-bottom: 20%;
    letter-spacing: 10px;

}






  
  hr{
    width: 80%;
}


#footer{
    text-align: center;
    letter-spacing: 1px;
    position: fixed;
  bottom: 5%;
  margin: auto;
  width: 100%;
  
}
p{
    text-align: center;
color: rgb(74, 74, 74);

}