body{
    background-color:black;
    color: silver;
    margin-top: 2%;
    scroll-behavior: smooth;
    }

    /*Header- Logo and Navigation Bar*/
    img{
        
        display: inline;
    }
    #homeIcon{
        padding-left: 2%;
    }
    #homeLink{
        text-decoration: line-through;
        display: inline;
    }
        a{
            color: white;
            text-decoration: none;
            
           
            
        }
        ul{
            display: inline-block;
        }
        li{
            display: inline-block;
            text-align: right;
            padding-right: 10px;
            font-family: magneta, serif;
            font-weight: 400;
            font-style: normal;
          }

        
          #head{float: right;
            padding-right: 10px;
          
        }
     

/*End Header- Logo and Navigation Bar*/

/*Name*/
    h1{
        text-align: center;
       
       font-size: 25px;
       min-height: 10em;
       display: table-cell;
       vertical-align: middle;
       letter-spacing: 10px; 
       font-family: rubik, sans-serif;
    font-weight: 400;
    font-style: normal;



    }

    #nameTitle{ 
      margin-top: auto;
        text-align: center;
        position: absolute; 
        left: 50%;
        top: 53%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        transform: translateX(-50%);
        min-height: 10em;
        display: table-cell;
        vertical-align: middle; 
    }
    /*End Name*/
    h2{
        color: rgb(71, 70, 70);
        font-size: 12px;
        /* letter-spacing: 2px; */
  
    position: relative;
   
    }

#underName{
    text-align: center;
    line-height: 1px;
    position: relative;
    font-family: magneta, serif;

font-weight: 600;

font-style: normal;
}

#footer{
    text-align: center;
    letter-spacing: 1px;

    position: fixed;
    bottom: 2%;
    margin: auto;
    width: 100%;
    font-size: 13px;
    

}
#bottomLinks{
    word-spacing: 5px;
    
}

p{
    text-align: center;
    color: rgb(45, 43, 43);
}


@media(max-width:900px){
    h1{
        font-size: 17px;
        white-space: nowrap; 
        margin-left: 0px;
    }
    h2{
        /* color:green; */
        white-space: nowrap;
        font-size:12px;
        display: inline;
        letter-spacing: 5px;
     
    }
    #divideLine{
         color:green; 
         margin-right: 2.5%;
         margin-left: 2.5%;
    }
    #bottomLinks{

        white-space: nowrap;
        font-size:px;
    }
    #footer{
        font-size: 14px;
        
    }
    p{
        color: rgb(84, 81, 81);}
  
}

@media  (min-width: 500px) {
    
    h1 {
       
      /* font-size: 25px; */
      white-space: nowrap;
  
    }
    h2 {
        /* color:green; */
       display: inline;
        /* font-size:15px; */
        /* margin-left: 0px; */
        letter-spacing: 7px;
      }
      #divideLine{
        color:green; 
        margin-right: 1%;
        margin-left: 1%;
   }
  
 
  }