body{
    background-color:rgb(2, 13, 24);
    /* color:rgb(2, 13, 24); */
    color: white;
    margin-top: 2%;
    scroll-behavior: smooth;
    
    }
h1{
    letter-spacing: 10px; 
    font-family: rubik, sans-serif;
    font-size: 20px;
 font-weight: 400;
 font-style: normal;
    text-align: center;
    padding-bottom: 50px;
}
h2{
    text-align: center;
    font-family: magneta, serif;
    font-weight: 400;
    font-style: normal;
}
#topic{
    margin-left: 20%;
        margin-right: 20%;
        margin-top: 20px;
}

#head{float: right;
    padding-right: 10px;

}
/* #homeIcon{
    padding-left: 2%;
    display: inline;
    margin-left: 100px;
    margin-left: 20px;
} */

#homeIcon{
    padding-left: 2%;
    display: inline;
  
    margin-left: 40px;

    padding-right: 5px;



   
}

#homeIcon{
    margin-top: 20px; 
}

ul{
    display: inline-block;
}
li{
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    font-family: magneta, serif;
    font-weight: 400;
    font-style: normal;
  }

  #nameTitle{

      padding-top: 150px;
  }
  #toLeft{
      display: inline-block;
  }

  #underName{
    
      padding-bottom: 50px;
  }

  #divideLine{
    color:rgb(0,223,60); 
    display: inline;
text-align: center;
}


#footer{
  
    bottom: 0px;
    width: 100%;
    position: relative;
    text-align: center;
    text-align: center;
  font-size: 13px;

}

#footer{
    padding-top: 30px;
    top: 10px;
    font-size: 13px;
    letter-spacing: 1px;

    margin-top: auto;
    /* text-align: center; */
    /* position: absolute;  */
    /* left: 50%; */
    /* right: 50%; */
    bottom: 10%; 
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateX(-50%); */
    /* display: table-cell; */
    /* vertical-align: middle;
     */
    

}
a{
    display: inline;
}

#footerLink{

    display: inline;

}
#linkClickable{
    display: inline;
}
#artifacts{
    /* padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 200px; */
    margin-bottom: 75px;

}
#topName{
    font-size: 40px;
}

#bigQuote{
    font-size: 100px;
    text-align: left;
    /* line-height: 0px; */
    padding-bottom: 10px;
    /* margin-top: 20px; */
    /* margin-bottom: 0px; */
    display: inline-block;
}
#quote{
    display: inline;
    font-size: 40px;
}

a{
    /* color: white; */
    color:rgb(217, 217, 217);
    text-decoration: none;
    display: inline-block;
}
a:hover{
    cursor: pointer;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
  }


  


  a.bottom
  {
      position: relative;
  }
  
  a.bottom:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0,223,60); 
    /* visibility: hidden; */
    transition: all 0.2s ease-in-out;
  }
  a.bottom:hover:before {
      visibility: visible;
      height: 1.5px;
      width: 30px;
    }

    p{   font-family: magneta, serif;
        /* font-weight: 400;
        font-style: normal;
        font-size: 13px;
        
        padding-left: 75px;
        padding-right: 75px;
        line-height: 25px;
        text-align: center; */


        text-align: center;
        font-family: magneta, serif;

        font-weight: 600;
        line-height: 21px;
        font-size: 13px;
        font-style: normal;  
}

        h5{   font-family: magneta, serif;
            font-weight: 400;
            font-style: normal;
            line-height: 45px;
            font-size: 17px;
            
        }

            #sectionHead{
                text-align: left;
            }