body{
    background-color:black;
    color: silver;
    margin-top: 2%;
    }

img{
        padding-left: 2%;
        display: inline;
    }

h1{
    text-align: center;
    font-family: korolev-compressed,sans-serif;
    font-weight: 700;
    font-style: normal;
   font-size: 40px;



   min-height: 10em;
   display: table-cell;
   vertical-align: middle;
   letter-spacing: 10px; 
}
h3{
  
    font-family: korolev-compressed,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 2px;
    margin-left: 30px;
   
}

#allWorks{
    top: 10%;
    margin-top: 10%;

}

#selectedWorks{
  margin-top: auto;
    text-align: center;
    position: relative;
     
    left: 50%;
    transform: translateX(-50%);
    min-height: 10em;
    vertical-align: middle; 
    font-family: korolev-compressed,sans-serif;
    font-weight: 700;
    font-style: normal;
   font-size: 40px;
   min-height: 10em;
   letter-spacing: 10px; 
   
}



h4{
    
    display: inline;
   
}

a{
        color: white;
        text-decoration: none;
        padding-right: 10px;   
        }
        
li{
            display: inline;
            margin-right: 5%;              
}

 li{
            float: right;
          }
          
          ul{
              text-align:right;
              display: inline;

            }


#footer{
    text-align: center;
    letter-spacing: 1px;
    position: fixed;
  bottom: 5%;
  margin: auto;
  width: 100%;
  
}
p{
    text-align: center;
color: rgb(74, 74, 74);

}
#workNavigation{
    width: 100%;
    position: relative;
    float:left;
    margin-right: 0px;
   
}