body{
background-color: black;
font-family: sans-serif;
margin-top: 2%;
margin-left: 5%;

color: white;
}

h1{
    text-align: center;
    display: inline;
   

}
 
.dwPhoto{
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    width:40%;
    
}
br{
    margin-top: 50px;
    margin-bottom: 5px;
    line-break: auto;
}
li{
    display: inline;
  
    font-family: serif;
  
  }

    h6{
      text-align: center;
  color: rgb(74, 74, 74);
 font-size: small;

    }
    
    #homeLink{
        text-decoration: line-through;
       display: inline;
    }
    
 #topName{
   margin-top: 100px;
 }
    h2{
        color: grey;
        font-size: large;
        margin-left: 2%;
    margin-right: 5%;
    text-decoration: none;
    }

ul{
  
    text-decoration: none;}

#socialLinks{
  
    text-align: center;
    letter-spacing: 1px;
}



a{
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

h4{
  display: inline;
}

 

#head{
  float:right;
 
}
#footer{
    
  text-align: center;
  letter-spacing: 1px;
  
bottom: 5%;
margin: auto;
width: 100%;

}



#titleExperience{
  display: inline;
  text-align: left;

  
}
#rowOneL{
  text-align: left;
  margin-left: 200px;
  display: inline-block;
  
}
#rowOneR{
  text-align: left;
  margin-left: 200px;
  display: inline-block;
  
}
#workTitle{
  margin-left: 200px;
}
hr{
  margin-left: 200px;
  text-align: left;
  width: 1000px;
 
}
#contactInfo{
  margin-left: 200px;
}
#skillsLists{
  margin-left: 200px;
}
#aboutText{
  margin-left: 200px;
}
    
     
      
    