body{
  background-color:rgb(3, 9, 16);
scroll-behavior: smooth;

margin-top: 2%;

    margin-top: 2%;
    margin-left: 2.45%;
    /* margin-right: 1.5%; */
color: white;

font-family: rubik, sans-serif;
font-weight: 400;
font-style: normal;
}

h1{
    text-align: center;
    display: inline;
   

}
 
.dwPhoto{
  
    margin-top: 100px;
    width:40%;
    
}
br{
    margin-top: 50px;
    margin-bottom: 5px;
    line-break: auto;
}
li{
    display: inline;
  
    font-family: serif;
  
  }

    h6{
      
  color: rgb(74, 74, 74);
 font-size: small;

    }
    
    #homeLink{
        text-decoration: line-through;
       display: inline;
    }
    
 #topName{
   margin-top: 100px;
 }
    h2{
        color: grey;
        font-size: large;
        margin-left: 2%;
    margin-right: 5%;
    text-decoration: none;
    }

ul{
  
    text-decoration: none;}

#socialLinks{
  
    text-align: center;
    letter-spacing: 1px;
}
#subPara{
  margin-left: 50px;
  
}
#subPara2{
  margin-left: 75px;
}

a{
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

h4{
  display: inline;
}

#head{
  float:right;
 
}
#footer{
    
  text-align: center;
  letter-spacing: 1px;
  
bottom: 5%;
margin: auto;
width: 100%;

}



#titleExperience{
  display: inline;
  text-align: left;

  
}
/* #rowOneL{
  text-align: left;
  margin-left: 200px;
  display: inline-block;
  
}
#rowOneR{
  text-align: left;
  margin-left: 150px;
  display: inline-block;
  
} */
/* #workTitle{
  margin-left: 200px;
} */
hr{
  margin-left: 200px;
  text-align: left;
  width: 1000px;
 
}
#contactInfo{
  margin-left: 200px;
}
#skillsLists{
  margin-left: 200px;
}
#aboutText{
  margin-left: 200px;
  line-height: 40px;
}
/* p{  font-family: magneta, serif;
  font-weight: 400;
  font-style: normal;} */
    
     
  table {
    width: 40%;
    /* margin:30px; */
    /* margin-left: 200px; */
    border-bottom: 1px solid #ccc;
    border-collapse: collapse;
  }



  #bottomRow{
    border-bottom: 1px solid #ccc;
  }

  
  tr {
    margin-left: 20%;
    height: 50px;
    border: solid;
    border-width: 1px 0;
    border-bottom: 1px solid #ccc;
    /* border-bottom: 1px solid #ccc; */
  }  
  td {
    height: 50px;
    /* border-bottom: 1px solid #ccc; */
  
  }   
    
#rowBottomLine{
  padding-bottom: 10px;
  /* bottom: 200px; */
}

  @media(max-width:1000px){
    h1{
        font-size: 20px;
        /* white-space: nowrap;  */
    }
    h2{
        color:green;
        /* white-space: nowrap; */
        font-size:12px;
     
    }
    #bottomLinks{

        white-space: nowrap;
        font-size:12px;
    }
    #footer{
        font-size: 12px;
        
    }
    p{
        color: rgb(84, 81, 81);
        white-space: pre-line;
        margin-left: 20px;
        /* white-space: nowrap; */
      }
      tr{
        white-space: nowrap;
      }
      table{
        table-layout: fixed;
 
        font-size: 12px;
      }
  
}

@media  (min-width: 500px) {
  body{white-space: nowrap;}
  h1 {
       
      /* font-size: 30px; */
      white-space: nowrap;
    }
    h2 {
        color:green;
        
       
        /* font-size:15px; */
      }
      tr{
        white-space: nowrap;
      }
      table{
        margin-left: 150px;
        /* font-size: px; */
        table-layout: fixed;
        width: 700px;
      }

      p{
        margin-left: 00px;
      }
      
 
  }

